.showTasks {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.task {
  width: 250px;
  padding: 20px;
  background: #37393b;
  border-radius: 10px;
}
.taskTools {
  display: flex;
  justify-content: space-between;
}
.deleteButton {
  cursor: pointer;
  color: red;
}
hr {
  opacity: 0.2;
  margin: 5px auto 15px;
}
.taskData {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
}
.taskDescription {
  font-size: 14px;
  opacity: 0.9;
}

@media (max-width: 600px) {
  .task {
    width: 100%;
  }
}
