@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  color: #e3e3e3;
  font-family: "Georama", sans-serif;
  margin: 20px;
}

.noStarTasks {
  text-align: center;
  margin-top: 50px;
}
