@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  color: #e3e3e3;
  font-family: "Georama", sans-serif;
  margin: 20px;
}

/* NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1001;
}
.menuLogo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.mobileLogo {
  display: none;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}
.menu span {
  width: 20px;
  height: 2px;
  background-color: #e3e3e3;
  border-radius: 5px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logoImg {
  width: 40px;
}
.logoText {
  font-size: 22px;
  font-weight: 500;
}
.profile {
  border: 2px solid #e3e3e3;
  padding: 10px;
  border-radius: 50%;
}
.profile span {
  font-weight: 600;
}
.sidebar {
  position: fixed;
  top: 64px;
  left: -230px;
  width: 200px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1001;
  transition: left 0.3s ease-in-out;
}
.sidebar.open {
  left: 0px;
}
.addTask {
  align-self: flex-start;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #37393b;
  color: #e3e3e3;
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.tasks {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.taskButton {
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 5px 10px;
  background: transparent;
  color: #e3e3e3;
  text-align: start;
  cursor: pointer;
}
.taskButton:hover {
  background-color: #37393b;
}
.taskButton:focus {
  outline: 2px solid #005f99;
}
.taskButton.active {
  background: #004a77;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

@media (max-width: 600px) {
  .menu {
    gap: 5px;
  }
  .logo {
    display: none;
  }
  .mobileLogo {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .mobileLogoImg {
    width: 35px;
  }
  .mobileLogoText {
    font-size: 20px;
    font-weight: 600;
  }
  .profile {
    border: 2px solid #e3e3e3;
    padding: 5px 8px;
    border-radius: 50%;
  }
  .profile span {
    font-size: 12px;
  }
}
